*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
/.idea
/manager/signing.properties
*.jks
*.keystore
/signing.properties
jdk21/
release.keystore
signing.properties

**/build/
**/out/
.gradle/
.kotlin/
.jdk/
*.apk
*.jar
!gradle/wrapper/gradle-wrapper.jar
view.xml
packages.txt
